<!DOCTYPE html>
<html>
<head>
  <title>nekomamiretop</title>
</head>
<body>


  <div class="container">
      <div class="border" style="padding:20px; margin: 20px;">
        <h1 class="text-center">あばうと～</h1>


            <div class="row">
              <div class="col-2"></div>

        <div class="col-8">
          <h4 class="text-center">ねこまみれについて</h4>
            <div class="text-center">
              <p>ねこまみれは猫好きによる猫の画像交流サイトです。</p>
              <p>自分が見つけた猫の画像を投稿したり、お気に入りの猫で癒されましょう。</p>
            </div>

             <h4 class="text-center">
             <i class="fas fa-list-alt"></i>ねこまみれでできること</h4>
            <div class="text-left" style="margin: 20px 20px 20px 70px;">
              <div id="about-item">
              <i class="fas fa-paw fa-fw"></i>猫の画像を投稿することができます<br>
              <i class="fas fa-paw fa-fw"></i>かわいい・おもしろい・びっくりな瞬間をお待ちしております。</br>
              <i class="fas fa-paw fa-fw"></i>投稿された画像にいいね・コメントすることができます</br>
              <i class="fas fa-paw fa-fw"></i>お気に入りの画像はブックマーク機能で自分だけのお気に入り集をつくれます</br>
              <i class="fas fa-paw fa-fw"></i>
              気に入った画像・笑った画像・幸せになった画像は、自分のツイッターで共有することができます
              </br>
              </div>
            </div>
        </div>
              <div class="col-2"></div>
            </div>

      </div>
  </div>
</body>
</html>