<h1>会員一覧</h1>


 <% @users.each do |user| %>
 <%= user.id %>
 <%= link_to(admin_user_path(user), class: "name")  do %>
 <div class= "name">
 <%= user.name %></div>
 <% end %>
 <%= user.status %>
<br>
 <% end %>