// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-item {
    text-align: center;
    }
 .about-item p {
    display: inline-block;
    text-align: left;
    }

.body {
	background-image:url('/assets/a29dd8e7.png');
}
#container{
  height: 500px;
}
.image1 {
  background-image: url('images/cat458A8420_TP_V.jpg');
}
.image2 {
  background-image: url('images/tom444DSC05184_TP_V.jpg');
}
.image3 {
  background-image: url('images/tomcat1582_TP_V.jpg');
}

