<div class="container-fluid">
  <div class="border" style="padding:20px; margin: 20px;">
  <h1 class="text-center">お～るうちねこみてください</h1>
    <div class="border" style="padding:10px;">
            <p class="text-center">
            ここでは今まで投稿された全部のうちねこをみることができます。<br>
            お気に入りを増やしたり気になるタグをクリックで同じタグのついた猫画像を探せます。
            </p>
    </div>


  <div class="row" style="padding:20px">
    <div class="col-2">
                <% @tags.each do |tag| %>
                <%= link_to "#{tag.name}(#{tag.taggings_count})", cat_images_path(tag_name: tag.name), class: "label label-default" %> 
                <% end %>
    </div>

    <div class="col-8">
     <%= render 'cat_images/list', cat_images: @cat_images %>
   </div>
    <div class="col-2"></div>
  </div>
</div>
<%= paginate @cat_images %>